@model MVCparcial.Models.MayraCabreraFriend

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MayraCabreraFriend</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoAmigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoAmigo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.FriendId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
